In [1]:
import pandas as pd

import plotly.express as px
import plotly.io as pio

pio.renderers.default = 'browser'

In [8]:
actors_count_df = pd.read_csv('../treated_datasets/actors_count.tsv', sep='\t', index_col=0)
actors_count_df.head()

      nconst  count               name
0  nm1469236      4      Olivia Colman
1  nm0048389      4  Dee Bradley Baker
2  nm1102891      4     Kristen Schaal
3  nm0855039      4      David Tennant
4  nm0666739      3         Aaron Paul

In [9]:
px.bar(actors_count_df.sort_values('count', ascending=False), x='name', y='count')