In [2]:
import pandas as pd
import sqlalchemy as db

connection_str = f'mysql+pymysql://root:admin@172.17.0.2:3306/imdb'
engine = db.create_engine(connection_str)
conn = engine.connect()

import plotly.express as px
import plotly.io as pio

pio.renderers.default = 'browser'

from tqdm import tqdm

import success_score as score

In [3]:
df = pd.read_csv('../datasets/title.principals.tsv', sep='\t')

In [3]:
cats = ['director', 'producer', 'writer']
df_cat_limited = df[df['category'].isin(cats)]

In [4]:
counts = dict()
for cat in cats:
    aux_df = df_cat_limited[df_cat_limited['category'] == cat]
    gb = pd.DataFrame(aux_df.groupby('nconst').count()).reset_index()
    
    cat_dict = dict()
    for _, row in tqdm(gb.iterrows(), total=len(gb)):
        nconst = row['nconst']
        cat_dict[nconst] = row['tconst']
    
    counts[cat] = cat_dict

100%|██████████| 631097/631097 [01:26<00:00, 7259.39it/s]
100%|██████████| 430706/430706 [00:52<00:00, 8192.34it/s]
100%|██████████| 487494/487494 [01:00<00:00, 8058.52it/s]

In [5]:
rows = []
for nconst in tqdm(df['nconst'].unique()):
    row = dict()
    row['nconst'] = nconst
    
    for c in cats:
        try:
            count = counts[c][nconst]
            row[f'{c}_count'] = count
        except Exception:
            row[f'{c}_count'] = 0
            
    rows.append(row)
            
cat_counts_df = pd.DataFrame(rows)

100%|██████████| 4802538/4802538 [00:27<00:00, 174335.73it/s]

In [11]:
cat_counts_df.to_csv('../treated_datasets/crew_category_counts.csv')
cat_counts_df.head()

      nconst  director_count  producer_count  writer_count
0  nm1588970               0               0             0
1  nm0005690             181               3             0
2  nm0374658              77               7             0
3  nm0721526              13               0             0
4  nm1335271               0               0             0

In [12]:
cat_counts_df.sort_values('director_count', ascending=False)

             nconst  director_count  producer_count  writer_count
574880    nm1203430           12712               0             1
1069476   nm1966600           12218              97           249
701142    nm1409127           10354               0             2
1385497  nm10608963           10296               0             0
581573    nm1667633            8951               1             0
...             ...             ...             ...           ...
1748538  nm11461800               0               0             0
1748539   nm5131429               0              10             0
1748540   nm5408226               0               0             0
1748545   nm4700679               0               0             0
4802537  nm10538653               0               0             0

[4802538 rows x 4 columns]

--------
## nconsts that worked on our dataset

In [14]:
tvseries_tconsts = score.get_clean_dataset_with_ss()['tconst'].tolist()

In [5]:
df[df['nconst'] == 'nm3486538']

              tconst  ordering     nconst  category      job characters
7542508   tt10048012         5  nm3486538  director       \N         \N
7542519   tt10048014         5  nm3486538  director       \N         \N
7542529   tt10048016         5  nm3486538  director       \N         \N
7542539   tt10048018         5  nm3486538  director       \N         \N
7730060   tt10102140         5  nm3486538  director       \N         \N
...              ...       ...        ...       ...      ...        ...
51678692   tt9677026         5  nm3486538  director       \N         \N
51678702   tt9677028         5  nm3486538  director       \N         \N
51678712   tt9677030         5  nm3486538  director       \N         \N
52139232   tt9833584         5  nm3486538    writer  creator         \N
52295386   tt9889110         5  nm3486538  director       \N         \N

[5097 rows x 6 columns]