In [1]:
import pandas as pd
import sqlalchemy as db

connection_str = f'mysql+pymysql://root:admin@172.17.0.2:3306/imdb'
engine = db.create_engine(connection_str)
conn = engine.connect()

import plotly.express as px
import plotly.io as pio

pio.renderers.default = 'browser'

from tqdm import tqdm

import success_score as score

In [6]:
crew_cat_counts_df = pd.read_csv('../treated_datasets/crew_category_counts.csv')

In [5]:
query = f"""
    SELECT DISTINCT(nconst) FROM title_principals
    WHERE category = 'director'
    OR category = 'producer'
    OR category = 'writer'
"""
nconsts_in_ds = pd.read_sql(query, conn)['nconst'].tolist()

In [7]:
print(len(crew_cat_counts_df))
crew_cat_counts_df = crew_cat_counts_df[crew_cat_counts_df['nconst'].isin(nconsts_in_ds)]
print(len(crew_cat_counts_df))

4802538
2942

In [10]:
crew_cat_counts_df.sort_values('director_count', ascending=False)

         Unnamed: 0      nconst  director_count  producer_count  writer_count
1080585     1080585   nm3486538            2691            1472           934
1837809     1837809   nm4604194            1941              45            21
1060361     1060361   nm5970972            1262            2061          1339
162838       162838   nm1347153             877               8           478
1058470     1058470   nm4395808             799            3851          1750
...             ...         ...             ...             ...           ...
669111       669111   nm1571148               0              11           176
667769       667769   nm0745360               0               0            24
665717       665717   nm1559257               0              42            74
263             263   nm0236279               0               0           696
4558099     4558099  nm10128386               0               0             1

[2942 rows x 5 columns]