In [8]:
import pandas as pd
import sqlalchemy as db

connection_str = f'mysql+pymysql://root:admin@172.17.0.2:3306/imdb'
engine = db.create_engine(connection_str)
conn = engine.connect()

In [ ]:
import plotly.express as px
import plotly.io as pio

pio.renderers.default = 'browser'

In [10]:
from tqdm import tqdm
import success_score as score

## plots

### crew appearences

In [11]:
most_successful_tconsts = score.get_clean_dataset_with_ss()['tconst'].tolist()

In [12]:
query = 'SELECT * FROM title_crew'
df = pd.read_sql(query, conn)

In [13]:
directors = dict()
writers = dict()
for tconst in tqdm(most_successful_tconsts):
    tconst_df = df[df['tconst'] == tconst]
    if len(tconst_df) > 0:
        if len(tconst_df) > 1:
            print('deu ruim')
        
        if tconst_df.iloc[0]['directors'] is not None:
            directors[tconst] = tconst_df.iloc[0]['directors'].split(',')
        if tconst_df.iloc[0]['writers'] is not None:   
            writers[tconst] = tconst_df.iloc[0]['writers'].split(',')

100%|██████████| 4076/4076 [00:03<00:00, 1066.43it/s]

In [14]:
names_df = pd.read_sql('SELECT nconst, primaryName FROM name_basics', conn)

KeyboardInterrupt:

In [ ]:
total_count = dict()

directors_count = dict()
for tconst, directors in directors.items():
    for d in directors:
        if d not in directors_count.keys():
            directors_count[d] = 1
        else:
            directors_count[d] += 1
            
        if d not in total_count.keys():
            total_count[d] = 1
        else:
            total_count[d] += 1
            
writers_count = dict()
for tconst, writers in writers.items():
    for w in writers:
        if w not in writers_count.keys():
            writers_count[w] = 1
        else:
            writers_count[w] += 1
            
        if w not in total_count.keys():
            total_count[w] = 1
        else:
            total_count[w] += 1

In [16]:
directors_df = pd.DataFrame({
    'nconst': directors_count.keys(), 
    'count': directors_count.values(),
    'primaryName': ''
})
directors_df = directors_df.sort_values('count', ascending=False).reset_index()

for i in tqdm(range(100)):
    directors_df.at[i, 'primaryName'] = names_df[names_df['nconst'] == directors_df.iloc[i]['nconst']].iloc[0]['primaryName'] 
    
directors_df

NameError: name 'directors_count' is not defined

In [15]:
px.bar(directors_df[:22], x='primaryName', y='count')

NameError: name 'directors_df' is not defined

In [ ]:
px.scatter(directors_df, x=range(len(directors_df)), y='count', log_x=True)

In [ ]:
writers_df = pd.DataFrame({
    'nconst': writers_count.keys(), 
    'count': writers_count.values(),
    'primaryName': ''
})
writers_df = writers_df.sort_values('count', ascending=False).reset_index()

for i in tqdm(range(100)):
    writers_df.at[i, 'primaryName'] = names_df[names_df['nconst'] == writers_df.iloc[i]['nconst']].iloc[0]['primaryName'] 
    
writers_df

100%|██████████| 100/100 [02:34<00:00,  1.55s/it]

      index     nconst  count        primaryName
0      1136  nm1132610      7   Andrew Kreisberg
1      1064  nm0900599      6       Jeff Vlaming
2       124  nm0338503      6  Drew Z. Greenberg
3        18  nm0260870      6      Jane Espenson
4      1888  nm0251328      5        Kerry Ehrin
...     ...        ...    ...                ...
3842   1601  nm5102082      1
3843   1602  nm1319757      1
3844   1603  nm1510118      1
3845   1604  nm2911988      1
3846   3846  nm3199846      1

[3847 rows x 4 columns]

In [ ]:
px.bar(writers_df[:15], x='primaryName', y='count')

In [ ]:
px.scatter(writers_df, x=range(len(writers_df)), y='count', log_x=True)