In [2]:
import pandas as pd
import sqlalchemy as db

connection_str = f'mysql+pymysql://root:admin@172.17.0.2:3306/imdb'
engine = db.create_engine(connection_str)
conn = engine.connect()

In [3]:
import plotly.express as px
import plotly.io as pio

pio.renderers.default = 'browser'

In [4]:
from tqdm import tqdm

## plots

### crew appearences

In [5]:
with open('most_successful_250.txt', 'r') as f:
    most_successful_250_tconsts = f.read().split('\n')

In [6]:
query = 'SELECT * FROM title_crew'
df = pd.read_sql(query, conn)

In [7]:
directors = dict()
writers = dict()
for tconst in tqdm(most_successful_250_tconsts):
    tconst_df = df[df['tconst'] == tconst]
    if len(tconst_df) > 0:
        if len(tconst_df) > 1:
            print('deu ruim')
        
        if tconst_df.iloc[0]['directors'] is not None:
            directors[tconst] = tconst_df.iloc[0]['directors'].split(',')
        if tconst_df.iloc[0]['writers'] is not None:   
            writers[tconst] = tconst_df.iloc[0]['writers'].split(',')

 55%|█████▍    | 137/250 [02:21<01:56,  1.03s/it]

KeyboardInterrupt:

In [ ]:
names_df = pd.read_sql('SELECT nconst, primaryName FROM name_basics', conn)

In [ ]:
total_count = dict()

directors_count = dict()
for tconst, directors in directors.items():
    for d in directors:
        if d not in directors_count.keys():
            directors_count[d] = 1
        else:
            directors_count[d] += 1
            
        if d not in total_count.keys():
            total_count[d] = 1
        else:
            total_count[d] += 1
            
writers_count = dict()
for tconst, writers in writers.items():
    for w in writers:
        if w not in writers_count.keys():
            writers_count[w] = 1
        else:
            writers_count[w] += 1
            
        if w not in total_count.keys():
            total_count[w] = 1
        else:
            total_count[w] += 1

In [ ]:
directors_df = pd.DataFrame({
    'nconst': directors_count.keys(), 
    'count': directors_count.values(),
    'primaryName': ''
})
directors_df = directors_df.sort_values('count', ascending=False).reset_index()

for i in tqdm(range(100)):
    directors_df.at[i, 'primaryName'] = names_df[names_df['nconst'] == directors_df.iloc[i]['nconst']].iloc[0]['primaryName'] 
    
directors_df

100%|██████████| 100/100 [02:38<00:00,  1.59s/it]

      index     nconst  count          primaryName
0       101  nm0003733     22        Daniel Attias
1        18  nm0001093     21            John Dahl
2        85  nm0003163     18         Tucker Gates
3       149  nm0322128     18  Lesli Linka Glatter
4       169  nm0203215     18        Adam Davidson
...     ...        ...    ...                  ...
2451   1207  nm0339178      1
2452   1206  nm0883219      1
2453   1204  nm0458868      1
2454   1203  nm0370723      1
2455   2455  nm0493778      1

[2456 rows x 4 columns]

In [ ]:
px.bar(directors_df[:22], x='primaryName', y='count')

NameError: name 'px' is not defined

In [ ]:
px.scatter(directors_df, x=range(len(directors_df)), y='count', log_x=True)

In [ ]:
writers_df = pd.DataFrame({
    'nconst': writers_count.keys(), 
    'count': writers_count.values(),
    'primaryName': ''
})
writers_df = writers_df.sort_values('count', ascending=False).reset_index()

for i in tqdm(range(100)):
    writers_df.at[i, 'primaryName'] = names_df[names_df['nconst'] == writers_df.iloc[i]['nconst']].iloc[0]['primaryName'] 
    
writers_df

100%|██████████| 100/100 [02:34<00:00,  1.55s/it]

      index     nconst  count        primaryName
0      1136  nm1132610      7   Andrew Kreisberg
1      1064  nm0900599      6       Jeff Vlaming
2       124  nm0338503      6  Drew Z. Greenberg
3        18  nm0260870      6      Jane Espenson
4      1888  nm0251328      5        Kerry Ehrin
...     ...        ...    ...                ...
3842   1601  nm5102082      1
3843   1602  nm1319757      1
3844   1603  nm1510118      1
3845   1604  nm2911988      1
3846   3846  nm3199846      1

[3847 rows x 4 columns]

In [ ]:
px.bar(writers_df[:15], x='primaryName', y='count')

In [ ]:
px.scatter(writers_df, x=range(len(writers_df)), y='count', log_x=True)