In [1]:
import pandas as pd
import sqlalchemy as db

connection_str = f'mysql+pymysql://root:admin@172.17.0.2:3306/imdb'
engine = db.create_engine(connection_str)
conn = engine.connect()

import plotly.express as px
import plotly.io as pio

pio.renderers.default = 'browser'

from tqdm import tqdm

In [2]:
with open('most_successful_250.txt', 'r') as f:
    most_successful_250_tconsts = f.read().split('\n')

In [8]:
query = '''
    SELECT tconst, primaryTitle, runtimeMinutes
    FROM title_basics
'''
df = pd.read_sql(query, conn)

In [6]:
len(df)

162847

In [11]:
to_delete = []
for index, row in tqdm(df.iterrows()):
    if row['tconst'] not in most_successful_250_tconsts:
        to_delete.append(index)
len(to_delete)

162847it [00:19, 8539.08it/s]

162597

In [12]:
df = df.drop(labels=to_delete, axis=0)
len(df)

250

In [67]:
fig = px.box(df, y='runtimeMinutes', custom_data=['runtimeMinutes', 'primaryTitle'])
fig.update_traces(
    hovertemplate="<br>".join([
        "RuntimeMinutes: %{customdata[0]}",
        "Title: %{customdata[1]}",
    ])
)
fig.show()

In [64]:
def runtime_categ(rm, cuts=range(10, 90, 10)):
    for c in cuts:
        if rm < c:
            return f'< {c}'
    return f'>= {cuts[-1]}'

df['runtimeCategory'] = df['runtimeMinutes'].apply(runtime_categ)

In [65]:
df.groupby('runtimeCategory').count()

                 tconst  primaryTitle  runtimeMinutes
runtimeCategory
< 20                  4             4               4
< 30                 53            53              53
< 40                 14            14              14
< 50                 81            81              81
< 60                 35            35              35
< 70                 52            52              52
< 80                  2             2               2
>= 80                 9             9               9

In [66]:
px.bar(df.groupby('runtimeCategory').count(), y='tconst')