In [85]:
import pandas as pd
import sqlalchemy as db

connection_str = f'mysql+pymysql://root:admin@172.17.0.2:3306/imdb'
engine = db.create_engine(connection_str)
conn = engine.connect()

In [2]:
from tqdm import tqdm

In [3]:
def replace_nulls(df):
    df = df.replace({'\\N': None})
    return df

In [4]:
def isfloat(n):
    try:
        float(n)
        return True
    except:
        return False
    
def isint(n):
    try:
        int(n)
        return True
    except:
        return False

In [5]:
def not_null_not_int(df_col):
    return set([x for x in df_col if x is not None and not isint(x)])

def not_null_not_float(df_col):
    return set([x for x in df_col if x is not None and not isfloat(x)])

## title.basics

In [6]:
df = pd.read_csv('title.basics.tsv', sep='\t')
df = replace_nulls(df)

/home/matheus/.miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9267897 entries, 0 to 9267896
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 636.4+ MB

processamento de dados problem√°ticos

In [8]:
df['isAdult'].value_counts()

0       8916855
1        285497
0         63381
1          2154
2019          3
2020          2
1981          1
2005          1
2014          1
2017          1
Name: isAdult, dtype: int64

In [9]:
to_replace = [2019, 1981, 2020, 2017, 2014, 2005]
new_isAdult = df['isAdult'].apply(lambda x: x if x not in to_replace else None)
new_isAdult.value_counts()

0    8916855
1     285497
0      63381
1       2154
Name: isAdult, dtype: int64

In [10]:
def convert_string(n):
    if n is None:
        return None
    else:
        return int(n)
    
new_isAdult = new_isAdult.apply(convert_string)
new_isAdult.value_counts()

0.0    8980236
1.0     287651
Name: isAdult, dtype: int64

In [11]:
new_isAdult = new_isAdult.astype('boolean')
new_isAdult.unique()

<BooleanArray>
[False, True, <NA>]
Length: 3, dtype: boolean

In [12]:
df['isAdult'] = new_isAdult

In [13]:
not_null_not_int(df['startYear'])

set()

In [14]:
df['startYear'] = df['startYear'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')

In [15]:
not_null_not_int(df['endYear'])

set()

In [16]:
df['endYear'] = df['endYear'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')

In [17]:
invalid = not_null_not_float(df['runtimeMinutes'])
invalid

{'Animation,Comedy,Family',
 'Documentary',
 'Game-Show',
 'Game-Show,Reality-TV',
 'Reality-TV',
 'Talk-Show'}

In [18]:
new_runtimeMinutes = df['runtimeMinutes'].apply(lambda x: x if x not in invalid else None)
not_null_not_float(new_runtimeMinutes)

set()

In [21]:
df['runtimeMinutes'] = new_runtimeMinutes.apply(lambda x: float(x) if isfloat(x) else None).astype('Float64')

restringindo o dataset

In [22]:
print('Initial size:', len(df))

new_df = df[(df['startYear'] >= 2000) & (df['titleType'] == 'tvSeries') & (df['isAdult'] == False)]

print('Final size:', len(new_df))

Initial size: 9267897
Final size: 162847

In [23]:
df = new_df

### nEpisodes

In [25]:
t_episodes_df = pd.read_csv('title.episode.tsv', sep='\t')

In [26]:
len(t_episodes_df)

6991827

In [27]:
new_t_episodes_df = t_episodes_df[t_episodes_df['parentTconst'].isin(df['tconst'])]

In [28]:
len(new_t_episodes_df)

4295885

In [29]:
t_episodes_df = new_t_episodes_df

In [33]:
n_eps_gb = t_episodes_df.groupby('parentTconst').count()['tconst']

In [42]:
n_eps_gb = n_eps_gb.apply(lambda x: x if x != '\\N' else None)

In [43]:
nEps = []
for _, row in tqdm(df.iterrows()):
    try:
        nEps.append(n_eps_gb.loc[row['tconst']])
    except:
        nEps.append(None)
nEps[:5]

162847it [00:21, 7528.01it/s]

[50, 1, 10, 22, 86]

In [44]:
df['nEpisodes'] = nEps
df['nEpisodes'].describe()

/tmp/ipykernel_80081/2573276119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nEpisodes'] = nEps

count    114030.000000
mean         37.673288
std         158.052836
min           1.000000
25%           4.000000
50%          10.000000
75%          24.000000
max       18593.000000
Name: nEpisodes, dtype: float64

In [49]:
df['nEpisodes'].unique()

array([ 50.,   1.,  10., ..., 449., 820., 798.])

In [50]:
df.sort_values('nEpisodes', ascending=False)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,nEpisodes
2172433,tt12164062,tvSeries,NRK Nyheter,NRK Nyheter,False,2007,<NA>,<NA>,News,18593.0
5291087,tt2070564,tvSeries,WatchMojo,WatchMojo,False,2006,<NA>,<NA>,"Comedy,Talk-Show",6858.0
5756657,tt2235082,tvSeries,Tritio Matra,Tritio Matra,False,2009,<NA>,<NA>,Talk-Show,6706.0
6083310,tt2810310,tvSeries,Game Grumps,Game Grumps,False,2012,<NA>,<NA>,Comedy,5737.0
6957361,tt4816922,tvSeries,L'invit√©,L'invit√©,False,2000,<NA>,8.0,Talk-Show,5486.0
...,...,...,...,...,...,...,...,...,...,...
9266518,tt9913844,tvSeries,Wise Folks,Wise Folks,False,2018,<NA>,26.0,Talk-Show,NaN
9266658,tt9914128,tvSeries,Party Animals,Party Animals,False,2003,2004,<NA>,Family,NaN
9266813,tt9914462,tvSeries,Leggermente frizzante,Leggermente frizzante,False,2014,<NA>,<NA>,Talk-Show,NaN
9267355,tt9915672,tvSeries,The Breakup,The Breakup,False,2016,<NA>,30.0,"Drama,Short",NaN
9267591,tt9916218,tvSeries,Lost in Food,Lost in Food,False,2016,2017,<NA>,Talk-Show,NaN

In [60]:
df['nEpisodes'] = df['nEpisodes'].astype('Int64')

### nPaisesExibido

In [53]:
t_akas_df = pd.read_csv('title.akas.tsv', sep='\t')
t_akas_df = replace_nulls(t_akas_df)

/home/matheus/.miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [54]:
len(t_akas_df)

33362201

In [55]:
t_akas_df = t_akas_df[t_akas_df['region'] != 'XWW']

In [56]:
len(t_akas_df)

33197113

In [57]:
n_paises_gb = t_akas_df.groupby('titleId').count()['region']

In [58]:
n_paises_gb = n_paises_gb.apply(lambda x: x if x != '\\N' else None)

In [59]:
nPaises = []
for _, row in tqdm(df.iterrows()):
    try:
        nPaises.append(n_paises_gb.loc[row['tconst']])
    except:
        nPaises.append(None)
nPaises[:5]

162847it [00:26, 6199.10it/s]

[5, 1, 2, 15, 38]

In [78]:
df['nCountryReleases'] = nPaises
df['nCountryReleases'] = df['nCountryReleases'].astype('Int64')
df['nCountryReleases'].describe()

count    159901.000000
mean          2.300936
std           4.538552
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max          99.000000
Name: nContryReleases, dtype: float64

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162847 entries, 108530 to 9267813
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           162847 non-null  object
 1   titleType        162847 non-null  object
 2   primaryTitle     162847 non-null  object
 3   originalTitle    162847 non-null  object
 4   isAdult          162847 non-null  boolean
 5   startYear        162847 non-null  Int64
 6   endYear          48991 non-null   Int64
 7   runtimeMinutes   62862 non-null   Float64
 8   genres           152174 non-null  object
 9   nEpisodes        114030 non-null  Int64
 10  nContryReleases  159901 non-null  Int64
dtypes: Float64(1), Int64(4), boolean(1), object(5)
memory usage: 18.8+ MB

In [84]:
df[['primaryTitle', 'nEpisodes', 'nCountryReleases']].sort_values('nCountryReleases', ascending=False)[:12]

                                    primaryTitle  nEpisodes  nContryReleases
8998091           Demon Slayer: Kimetsu no Yaiba         44               99
8409826                        Superhero Landing          5               87
1349564                             Go, Dog. Go!         26               82
4855237                    American Horror Story        119               80
5987292  Miraculous: Tales of Ladybug & Cat Noir        114               78
229099                                  Survivor        630               73
236634            CSI: Crime Scene Investigation        336               69
6212928                               PAW Patrol        224               69
3397799                                Spartacus         34               64
914978                           Game of Thrones         73               62
2876900                           Among Us Logic         38               61
395144                                     House        176               60

### to sql

In [86]:
df.to_sql('title_basics', conn, index=False, index_label='tconst', chunksize=1024)