In [2]:
import pandas as pd
import sqlalchemy as db

connection_str = f'mysql+pymysql://root:admin@172.17.0.2:3306/imdb'
engine = db.create_engine(connection_str)
conn = engine.connect()

In [3]:
from tqdm import tqdm
import success_score as score

In [4]:
def replace_nulls(df):
    df = df.replace({'\\N': None})
    return df

In [5]:
def isfloat(n):
    try:
        float(n)
        return True
    except:
        return False
    
def isint(n):
    try:
        int(n)
        return True
    except:
        return False

## title.principals

In [6]:
df = pd.read_csv('title.principals.tsv', sep='\t')
df = replace_nulls(df)

In [7]:
clean_tconsts = score.get_clean_dataset_with_ss()['tconst'].tolist()

In [8]:
len(df)

52370246

In [9]:
df.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,None,"[""Self""]"
1,tt0000001,2,nm0005690,director,None,None
2,tt0000001,3,nm0374658,cinematographer,director of photography,None
3,tt0000002,1,nm0721526,director,None,None
4,tt0000002,2,nm1335271,composer,None,None

In [11]:
clean_df = df[df['tconst'].isin(clean_tconsts)]

In [12]:
len(clean_df) / len(df)

0.0007692726896871937

In [13]:
clean_df['ordering'] = clean_df['ordering'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')

/tmp/ipykernel_46317/1249802125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['ordering'] = clean_df['ordering'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')

In [14]:
clean_df.head()

,tconst,ordering,nconst,category,job,characters
1296717,tt0160904,10,nm0035514,actor,None,"[""Lucas North"",""Armed Police Officer""]"
1296718,tt0160904,1,nm0278752,actor,None,"[""Harry Pearce""]"
1296719,tt0160904,2,nm0800179,actor,None,"[""Malcolm Wynn-Jones""]"
1296720,tt0160904,3,nm0908070,actress,None,"[""Ruth Evershed""]"
1296721,tt0160904,4,nm0672303,actor,None,"[""Adam Carter""]"

In [15]:
clean_df.to_sql('title_principals', conn, index=False, index_label='tconst', chunksize=1024)