In [7]:
import pandas as pd
import sqlalchemy as db

connection_str = f'mysql+pymysql://root:admin@172.17.0.2:3306/imdb'
engine = db.create_engine(connection_str)
conn = engine.connect()

In [8]:
from tqdm import tqdm
import success_score as score
from multiprocessing.pool import ThreadPool as Pool

In [9]:
def replace_nulls(df):
    df = df.replace({'\\N': None})
    return df

## title.principals

In [4]:
df = pd.read_csv('title.crew.tsv', sep='\t')
df = replace_nulls(df)

In [5]:
clean_tconsts = score.get_clean_dataset_with_ss()['tconst'].tolist()

In [6]:
len(df)

9267897

In [10]:
df_list = []
for tconst in tqdm(clean_tconsts):
    aux_df = df[df['tconst'] == tconst]
    if len(aux_df) > 0:
        df_list.append(aux_df)

100%|██████████| 4076/4076 [56:47<00:00,  1.20it/s]

In [11]:
clean_df = pd.concat(df_list).reset_index()

In [12]:
clean_df.head()

,index,tconst,directors,writers
0,155718,tt0160904,"nm0001994,nm1168446,nm0149491,nm0355542,nm1142...","nm0938727,nm1522142,nm0107623,nm3122514,nm3123..."
1,196787,tt0204993,"nm0941276,nm0638354,nm0518910,nm0506461,nm0002...","nm0000116,nm0251050,nm0596711,nm0215277,nm0248..."
2,197458,tt0205700,"nm0793727,nm0005344,nm0005601,nm0578162,nm7919...","nm0362987,nm0448579,nm0864541,nm2196335,nm0604..."
3,198173,tt0206476,"nm0779830,nm0481910,nm0581238,nm0336259,nm0944...","nm0829739,nm0849964,nm0255296,nm0085220,nm0526..."
4,198204,tt0206511,"nm0000625,nm0743093,nm0573732,nm0049975,nm0388...","nm0355125,nm0605167,nm0887455,nm2667316,nm0277..."

In [13]:
clean_df2 = clean_df.drop(columns=['index'])
clean_df2.head()

,tconst,directors,writers
0,tt0160904,"nm0001994,nm1168446,nm0149491,nm0355542,nm1142...","nm0938727,nm1522142,nm0107623,nm3122514,nm3123..."
1,tt0204993,"nm0941276,nm0638354,nm0518910,nm0506461,nm0002...","nm0000116,nm0251050,nm0596711,nm0215277,nm0248..."
2,tt0205700,"nm0793727,nm0005344,nm0005601,nm0578162,nm7919...","nm0362987,nm0448579,nm0864541,nm2196335,nm0604..."
3,tt0206476,"nm0779830,nm0481910,nm0581238,nm0336259,nm0944...","nm0829739,nm0849964,nm0255296,nm0085220,nm0526..."
4,tt0206511,"nm0000625,nm0743093,nm0573732,nm0049975,nm0388...","nm0355125,nm0605167,nm0887455,nm2667316,nm0277..."

In [14]:
clean_df2.to_sql('title_crew', conn, index=False, index_label='tconst', chunksize=1024)