In [56]:
import pandas as pd
import sqlalchemy as db

connection_str = f'mysql+pymysql://root:admin@172.17.0.2:3306/imdb'
engine = db.create_engine(connection_str)
conn = engine.connect()

In [2]:
def replace_nulls(df):
    df = df.replace({'\\N': None})
    return df

In [3]:
def isfloat(n):
    try:
        float(n)
        return True
    except:
        return False
    
def isint(n):
    try:
        int(n)
        return True
    except:
        return False

In [12]:
def not_null_not_int(df_col):
    return set([x for x in df_col if x is not None and not isint(x)])

def not_null_not_float(df_col):
    return set([x for x in df_col if x is not None and not isfloat(x)])

## name.basics

In [5]:
df = pd.read_csv('name.basics.tsv', sep='\t')
df = replace_nulls(df)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11972690 entries, 0 to 11972689
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 548.1+ MB

In [8]:
not_null_not_int(df['birthYear'])

[]

In [9]:
not_null_not_int(df['deathYear'])

[]

In [29]:
df['birthYear'] = df['birthYear'].astype(int)

In [30]:
df['deathYear'] = df['deathYear'].astype(int)

In [34]:
df.to_sql('name_basics', conn, index=False, index_label='nconst', chunksize=1024)

## title.akas

In [11]:
df = pd.read_csv('title.akas.tsv', sep='\t')
df = replace_nulls(df)

/home/matheus/.miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33362201 entries, 0 to 33362200
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [13]:
not_null_not_int(df['ordering'])

set()

In [16]:
df['isOriginalTitle'].value_counts()

0    19284599
0    12286603
1     1291518
1      497294
Name: isOriginalTitle, dtype: int64

In [24]:
df['ordering'] = df['ordering'].astype('Int64')

In [21]:
def convert_string(n):
    if n is None:
        return None
    else:
        return int(n)
    
new_col = df['isOriginalTitle'].apply(convert_string)
new_col.value_counts()

0.0    31571202
1.0     1788812
Name: isOriginalTitle, dtype: int64

In [22]:
new_col.unique()

array([ 0.,  1., nan])

In [23]:
new_col = new_col.astype('boolean')
new_col.unique()

<BooleanArray>
[False, True, <NA>]
Length: 3, dtype: boolean

In [25]:
df['isOriginalTitle'] = new_col

Houve um erro no comando abaixo, pois era criado a coluna 'title' no banco como do tipo <i>text</i>, o que não era de tamanho necessário para o campo. Depois de alterado para <i>longtext</i>, funcionou.

In [27]:
df.to_sql('title_akas', conn, index=False, index_label='titleId', if_exists='append', chunksize=1024)

## title.basics

In [28]:
df = pd.read_csv('title.basics.tsv', sep='\t')
df = replace_nulls(df)

/home/matheus/.miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9267897 entries, 0 to 9267896
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         boolean
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: boolean(1), object(8)
memory usage: 583.3+ MB

In [31]:
df['isAdult'].value_counts()

0       8916855
1        285497
0         63381
1          2154
2019          3
2020          2
1981          1
2005          1
2014          1
2017          1
Name: isAdult, dtype: int64

In [33]:
to_replace = [2019, 1981, 2020, 2017, 2014, 2005]
new_isAdult = df['isAdult'].apply(lambda x: x if x not in to_replace else None)
new_isAdult.value_counts()

0    8916855
1     285497
0      63381
1       2154
Name: isAdult, dtype: int64

In [34]:
def convert_string(n):
    if n is None:
        return None
    else:
        return int(n)
    
new_isAdult = new_isAdult.apply(convert_string)
new_isAdult.value_counts()

0.0    8980236
1.0     287651
Name: isAdult, dtype: int64

In [36]:
new_isAdult = new_isAdult.astype('boolean')
new_isAdult.unique()

<BooleanArray>
[False, True, <NA>]
Length: 3, dtype: boolean

In [37]:
df['isAdult'] = new_isAdult

In [41]:
not_null_not_int(df['startYear'])

set()

In [49]:
df['startYear'] = df['startYear'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')

In [50]:
not_null_not_int(df['endYear'])

set()

In [51]:
df['endYear'] = df['endYear'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')

In [53]:
invalid = not_null_not_float(df['runtimeMinutes'])
invalid

{'Animation,Comedy,Family',
 'Documentary',
 'Game-Show',
 'Game-Show,Reality-TV',
 'Reality-TV',
 'Talk-Show'}

In [54]:
new_runtimeMinutes = df['runtimeMinutes'].apply(lambda x: x if x not in invalid else None)
not_null_not_float(new_runtimeMinutes)

set()

In [55]:
df['runtimeMinutes'] = new_runtimeMinutes.apply(lambda x: float(x) if isfloat(x) else None).astype('Float64')

In [57]:
df.to_sql('title_basics', conn, index=False, index_label='tconst', chunksize=1024)

## title.crew

In [58]:
df = pd.read_csv('title.crew.tsv', sep='\t')
df = replace_nulls(df)

In [49]:
df.to_sql('title_crew', conn, index=False, index_label='tconst', chunksize=1024)

## title.episode

In [59]:
df = pd.read_csv('title.episode.tsv', sep='\t')
df = replace_nulls(df)

In [60]:
not_null_not_int(df['seasonNumber'])

set()

In [61]:
df['seasonNumber'] = df['seasonNumber'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')

In [62]:
not_null_not_int(df['episodeNumber'])

set()

In [63]:
df['episodeNumber'] = df['episodeNumber'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')

In [53]:
df.to_sql('title_episode', conn, index=False, index_label='tconst', chunksize=1024)

## title.principals

In [64]:
df = pd.read_csv('title.principals.tsv', sep='\t')
df = replace_nulls(df)

In [65]:
not_null_not_int(df['ordering'])

set()

In [ ]:
df['ordering'] = df['ordering'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')

In [ ]:
df.to_sql('title_principals', conn, index=False, index_label='tconst', chunksize=1024)

## title.ratings

In [66]:
df = pd.read_csv('title.ratings.tsv', sep='\t')
df = replace_nulls(df)

In [67]:
not_null_not_int(df['numVotes'])

set()

In [68]:
not_null_not_float(df['averageRating'])

set()

In [ ]:
df['numVotes'] = df['numVotes'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')
df['averageRating'] = df['averageRating'].apply(lambda x: float(x) if isfloat(x) else None).astype('Float64')

In [ ]:
df.to_sql('title_ratings', conn, index=False, index_label='tconst', chunksize=1024)