In [1]:
import pandas as pd
import sqlalchemy as db

connection_str = f'mysql+pymysql://root:admin@172.17.0.2:3306/imdb'
engine = db.create_engine(connection_str)
conn = engine.connect()

In [2]:
from tqdm import tqdm

In [3]:
def replace_nulls(df):
    df = df.replace({'\\N': None})
    return df

In [4]:
def isfloat(n):
    try:
        float(n)
        return True
    except:
        return False
    
def isint(n):
    try:
        int(n)
        return True
    except:
        return False

In [5]:
def not_null_not_int(df_col):
    return set([x for x in df_col if x is not None and not isint(x)])

def not_null_not_float(df_col):
    return set([x for x in df_col if x is not None and not isfloat(x)])

## title.episode

In [6]:
df = pd.read_csv('title.episode.tsv', sep='\t')
df = replace_nulls(df)

In [7]:
not_null_not_int(df['seasonNumber'])

set()

In [8]:
df['seasonNumber'] = df['seasonNumber'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')

In [9]:
not_null_not_int(df['episodeNumber'])

set()

In [10]:
df['episodeNumber'] = df['episodeNumber'].apply(lambda x: int(x) if isint(x) else None).astype('Int64')

removendo linhas que n√£o existem em title_basics

insert

In [53]:
df.to_sql('title_episode', conn, index=False, index_label='tconst', chunksize=1024)